body {
  margin: 20px
}

.formly-field {
  margin-bottom:16px;
}

label {
	width: 100px;
    text-align: left;
    clear: both;
    float: left;
    margin-right:15px;
}

input[type="text"], textarea {
	width: 50%;
}

.validation {
  color: #a94442;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 11px;
}