body {
  margin: 20px
}

.formly-field {
  margin-bottom:16px;
}

label {
	width: 100px;
    text-align: left;
    clear: both;
    float: left;
    margin-right:15px;
}


input[type="text"], textarea {
	width: 50%;
}