<!DOCTYPE html>
<meta name="robots" content="noindex">
<html ng-app="arTools">
  <body >
    <div>
      <h2>{{::vm.exampleTitle}}</h2>
      <div>
        Input notes here.
      </div>
      <form ng-submit="vm.onSubmit()" novalidate>
        <formly-form model="vm.model" fields="vm.formFields" form="vm.notebookForm">
          <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.notebookForm.$invalid">Submit</button>
        </formly-form>
      </form>
      <h3>Input Data</h3>
      <pre>{{vm.model | json}}</pre>
    </div>

    <div>
    	<table id="notebookList">
    		<tr>
    			<th>Notes</th>
    			<th>Actions</th>
    		</tr>
    		<tr ng-repeat = 'note in notes'>
    			<th>{{note.name}}</th>
    			<th>Delete</th>
    		</tr>
    	</table>
    </div>

  </body>
</html>
